p{
align:center;
	color:blue;
	font-family: "Times New Roman", Times, serif;
	font-size:90;
}
div{
	font-family: "Times New Roman", Times, serif;
	font-size:50;
	
	
}
body{
	background-color:#F8E0EC;
}